body {
    background-color: #9B111E; /* Vermelho Ruby */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.cute-text {
    background-color: #ffebcd;
    border: 5px solid #ffc0cb;
    border-radius: 15px;
    padding: 20px;
    font-size: 2em;
    color: #ff69b4;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cute-text:hover {
    transform: scale(1.1);
}
